mt5_account.json
BTCUSDT_calc.csv
bybit_account.json
mvp_architecture.py
process_data.py
best_rl_ever.zip 
BTCUSDT_bybit_500k.csv
move_logs.py
run_pipeline.bat

logs/
old_files/
__pycache__/
quotations/
text_files_for_dev/
venv/
install_environment/

*.pyc
*.pyo
*.pyd
*.log
*.tmp